@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.photo-section, .talk-about-section, .qoutes-section {
    color: #FFFFFF;
}
.dashed-border {
    border: 2px dashed #343a40;
    padding: 10px;
    border-radius: 5px;
}
.layout {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    z-index: 900;
}
.dashed-border-bottom {
    border-bottom: 2px dashed #343a40;
}
.dashed-border-top {
    border-top: 2px dashed #343a40;
}
.email-icon {
    margin-bottom: 7px;
}
.common-input {
    border: none;
    background: transparent;
    outline: none;
    color: white;
}
.common-textarea {
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    color: white;
}
.require-txt {
    color: #FFFFFF;
    font-size: 12px;
}
.mobile-view {
    display: none;
}
.desktop-view {
    display: block;
}
.solid-border-bottom {
    border-bottom: 1px solid #343a40;
}
.solid-border-top {
    border-top: 1px solid #343a40;
}
.m-left-8 {
    margin-left: 8px;
}
.first-section {
    margin-left: 7px;
    border-left: 1px solid #343a40;
    border-right: 1px solid #343a40;
}
.dashed-first-section {
    margin-left: 7px;
    border-left: 2px dashed #343a40;
    border-right: 2px dashed #343a40;
}
.photo-dashed-border {
    border: 2px dashed #343a40;
    border-radius: 30px;
    overflow: hidden;
}
.photo-section>div {
    margin-top: 10px;
    margin-bottom: 35px;
}
.photo-section .photo-layout {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 28px;
    opacity: 0.8;
}
.photo-section .photo-detail {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 18px 18px;
}
.photo-detail p {
    color: #15202B;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
.photo-img-section {
    max-width: 312px;
    width: 100%;
    height: 312px;
}
.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 29px;
}
.profile-edit {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 100%;
    background: #15202B;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 999;
}
.profile-edit .row {
    padding: 43px 23px;
}
.profile-edit input, .profile-edit textarea {
    background: transparent;
    outline: none;
    border: 1px solid #39444D;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    width: 241px;
    opacity: 0.2;
    padding: 12px 11px;
    resize: none;
    overflow: hidden;
}

.profile-edit h1 {
    margin-left: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px !important;
}
.photo-detail p:last-child {
    font-size: 16px;
    margin-bottom: 0px;
}
.custom-bg-color {
    background-color: #343535 !important;
    border-top: 2px dashed #4f5152;
    z-index: 500;
}
.photo-section .add-photo {
    position: absolute;
    top: 100px;
    padding-left: 15px;
    width: 100%;
}
.photo-section .add-photo .add-your-img {
    font-weight: bold;
    font-size: 26px;
    color: darkgray;
}
.photo-section .add-photo .img-size {
    color: darkgray;
}
.photo-section .title{
    font-size: 32px;
}
.photo-section .description {
    font-size: 16px;
}
.photo-section .similar-subject {
    font-size: 20px;
    cursor: pointer;
}
.name-position-edit {
    position: absolute;
    background-color: #15202B;
    width: 130%;
    top: 0px;
    left: 16px;
    z-index: 999;
}
.name-position-edit>form {
    padding: 15px 10px;
}
.name-position-edit p {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 0px;
    display: inline;
}
.name-position-edit .name-section {
    margin-bottom: 15px;
}
.name-position-edit input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #7b7b7b;
    transition: all 0.2s;
    width: 100%;
    overflow: hidden;
}
/* contact-edit section */
.contact-edit {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 150%;
    background: #15202B;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    padding: 16px 40px 23px 40px;
}
.contact-edit .block {
    display: flex;
    flex-direction: column;
}
.contact-edit .title input{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #7b7b7b;
}
.contact-edit .content {
    margin-top: 25px;
}
.contact-edit .content textarea, .contact-edit .content input{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #7b7b7b;
    transition: all 0.2s;
    overflow:hidden;
}
/* talk about section */
.talk-about-section>div>div {
    margin-top: 30px;
    margin-bottom: 32px;
}
.talk-about-section .title{
    font-size: 32px;
    font-family: Open Sans;
}
.talk-about-section .description {
    font-size: 20px;
    font-family: Open Sans;
}
.talk-about-section .talk-txt {
    margin-top: 25px;
}
.talk-about-section .list-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 56px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.talk-about-section .talk-about-edit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 352px;
    background: #15202B;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    /* border: 2px dashed #343a40; */
    padding: 16px 40px;
    border-radius: 5px;
    z-index: 999;
    overflow-x: hidden;
}
/* width */
.talk-about-section .talk-about-edit::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.talk-about-section .talk-about-edit::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
/* Handle */
.talk-about-section .talk-about-edit::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
/* Handle on hover */
.talk-about-section .talk-about-edit::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.talk-about-edit .title {
    display: flex;
    flex-direction: column;
}
.talk-about-edit .title input {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    border: none;
    background: transparent;
    outline: none;
    color: #7b7b7b;
}
.talk-about-edit .title span {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.talk-about-edit .content .require{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.talk-about-edit .content .email-num-increase {
    margin-top: 0px;
    width: 230px;
    height: 27px;
    border: 1px solid #8999A6;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 5px;
}
.talk-about-edit .email-num-set {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.talk-about-edit .select-box>div {
    padding: 0px 3px;
}
.talk-about-edit .email-num-input {
    border: none;
    outline: none;
    background: transparent;
    color: #FFFFFF;
    width: 25px;
    margin-left: 5px;
}
.talk-about-edit .email-display {
    margin-top: 15px;
}
.talk-about-edit textarea {
    margin-top: 30px;
    width: 100%;
    resize: none;
    outline: none;
    background: transparent;
    color: #7b7b7b;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    overflow:hidden;
}
.talk-about-edit .email-list {
    position: absolute;
    width: 101%;
    color: white;
    left: -1px;
    top: 26px;
    padding-left: 0px;
    list-style: none;
    background: #1D252C;
    border: 1px solid #8999A6;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.talk-about-edit .email-list li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s linear;
}
.talk-about-edit .email-list li:hover {
    background-color: #39444D;
}
.talk-about-edit .email-list li:not(:first-child) {
    padding: 9px 13px;
    border-top: 1px solid #8999A6;
}
.talk-about-edit .email-list li:first-child {
    padding: 9px 13px;
}
.btn-save-edit-mode {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    outline: 0 !important;
    width: 82px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #15202b;
}
/* profile information section */
.profile-info-section {
    color: #FFFFFF;
    padding-bottom: 100px;
    padding-top: 17px;
}
.profile-info-section .col-lg-4 {
    margin-top: 17px;
    margin-bottom: 17px;
}
.profile-info-section h1 {
    font-size: 32px;
    font-weight: 600;
}
.profile-info-section p {
    font-size: 20px;
}
.extra-style {
    padding: 0px !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}
.profile-info-section a {
    text-decoration: underline;
}
/* qoutes section */
.qoutes-section {
    padding-top: 73px;
}
.qoutes-section .title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}
.qoutes-section .content {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
}
.qoutes-section .emphases {
    background-color: #CFF2EE;
    color: #15202b;
    padding: 3px;
}
/* qoutes edit */
.qoutes-edit {
    position: absolute;
    background: #15202B;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    right: 1px;
    top: 1px;
    width: 140%;
    z-index: 999;
}
.qoutes-edit>div {
    padding: 41px 17px;
}
.qoutes-edit .content .email-num-increase {
    width: 230px;
    height: 27px;
    border: 1px solid #8999A6;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 5px;
}
.qoutes-edit  .email-num-set {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.qoutes-edit  .select-box {
    padding: 0px 3px;
}
.qoutes-edit  .email-num-input {
    border: none;
    outline: none;
    background: transparent;
    color: #FFFFFF;
    width: 25px;
    margin-left: 5px;
}
.qoutes-edit .email-num-increase {
    width: 230px;
    height: 27px;
    border: 1px solid #8999A6;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 5px;
}
.qoutes-edit .require{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.7;
}
.qoutes-edit .title {
    margin-top: 7px;
}
.qoutes-edit .title input {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #FFFFFF;
    opacity: 0.2;
    width: 344px;
}
/* qoutes item edit */
.quotes-item-edit {
    position: absolute;
    background: #15202B;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    right: 1px;
    top: 1px;
    width: 140%;
    z-index: 999;
}
.quotes-item-edit .main-block {
    padding: 16px 41px;
}
.quotes-item-edit .require-section span {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.quotes-item-edit .content {
    margin-top: 26px;
}
.quotes-item-edit .client-name-part {
    margin-top: 16px;
}
.quotes-item-edit .client-name-part h1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.qoutes-section .title {
    margin-top: 20px;
}
.quotes-item-edit .client-name-part input {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.2;
    width: 100%;
}
/* text editor */
.custom-text-editor .rdw-editor-toolbar {
    color: #39444D;
}

.profile-photo-title-bar {
    position: fixed;
    width: 681.87px;
    height: 45px;
    left: -134.71px;
    top: 99.72px;
    background: #39444D;
    transform: rotate(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: #FFFFFF;
}
.profile-photo-title-bar p.title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    font-family: Oswald;
    font-style: normal;
}
.profile-photo-title-bar .percent {
    font-size: 20px;
    font-weight: normal;
    font-family: Oswald;
}
.profile-photo-title-bar .undeited {
    color: #C95355;
    font-size: 20px;
    margin-left: 5px;
    font-family: Oswald;
}
/* open-edit-menu-bar */
.open-edit-menu, .open-close-menu {
    position: fixed;
    right: 0px;
    z-index: 100;
    bottom: 0px;
    background-color: #15202b;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s linear;
}
.open-edit-menu .open-menu {
    width: 351px;
    height: 47px;
    background: #39444D;
}
.btn-open-edit-mode {
    border: none;
    width: 144px;
    height: 25px;
    font-size: 15px;
    background: #55ACEE;
    border-radius: 4px;
    color: #FFFFFF;
    outline: 0 !important;
}
.open-edit-menu .share {
    color: darkgray;
}
.open-edit-menu .menu-icon {
    cursor: pointer;
}
.open-edit-menu .expanded-menu {
    transition: all 0.4s ease-in-out;
}
.open-edit-menu .expanded-menu>div {
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.open-edit-menu .expanded-menu>div:hover {
    background-color: #39444D;
}
.open-close-menu .color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-close-menu .color-picker>div {
    transition: all 0.3s linear;
}
/* open-close-menu-bar */
.open-close-menu .open-menu {
    width: 290px;
    height: 47px;
    background: #39444D;
}
.btn-close-edit-mode {
    border: none;
    width: 144px;
    height: 25px;
    font-size: 15px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #15202B;
    outline: 0 !important;
}
.open-close-menu .expanded-menu>div {
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.arrow {
    transition: all 0.3s ease-in-out;
}
.open-close-menu .expanded-menu>div:first-child {
    border-bottom: 1px solid #000000;
}
.open-close-menu .theme {
    cursor: pointer;
}
.open-close-menu .select-box {
    width: 118px;
    height: 26px;
    padding: 5px;
}
.open-close-menu .select-list {
    position: absolute;
    background-color: #15202B;
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.open-close-menu .select-list li{
    padding: 3px 5px;
    transition: all 0.3s linear;
}
.open-close-menu .select-list li:hover {
    color: #84b9e2;
}
.open-close-menu #colorPicker {
    background: none;
    padding: 0px;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
/* modal */
.register .modal-dialog {
    max-width: 839px;
    top: 27px;
}
.register .modal-content {
    background: #15202B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px !important;
}
.register .modal-body {
    background-color: #15202B;
    padding: 60px !important;
    color: #FFFFFF;
    border-radius: 4px !important;
}
.register .modal-body .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.register .modal-body .content {
    font-size: 27px;
}
.register .modal-body .content .txt {
    margin-top: 30px;
    font-weight: 600;
    font-family: Open Sans;
    line-height: 1.7;
}
.register .modal-body .content .txt .detail {
    margin-top: 30px;
    font-weight: 600;
    font-family: Open Sans;
    line-height: 1.7;
    color: #444D55;
    text-decoration: underline;
}
.register .modal-body .profile-detail {
    color: #FFFFFF;
    background: transparent;
    border: none;
    outline: none;
}
.register .modal-body .discuss-content {
    color: #55ACEE;
}
.register .modal-body .send-btn-part {
    margin-top: 67px;
}
.register .modal-body .btn-send {
    background: #FFFFFF;
    border-radius: 70px;
    color: #15202B;
    font-size: 27px;
    border: none;
    outline: none;
    width: 261px;
    height: 53px;
    transition: all 0.3s linear;
}
.register .modal-body .btn-send:hover {
    background-color:#55ACEE;
    color: #FFFFFF;
}
.modal-backdrop.show {
    opacity: 0.3 !important;
}
.modal-backdrop {
    background-color: #FFF !important;
}
.cursor-pointer {
    cursor: pointer;
}
.profile-detail::-webkit-input-placeholder { /* Edge */
    text-decoration: underline;
}
.profile-detail:-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-decoration: underline;
}
.profile-detail::placeholder {
    text-decoration: underline;
}
/* EditModal.js */
.check-list {
    position: absolute;
    width: 100%;
    color: white;
    left: 0;
    padding-left: 0px;
    list-style: none;
    background: #1D252C;
    border: 1px solid #8999A6;
    border-radius: 2px;
}
.edit-select-section {
    width: 260px;
}
.edit-select-section .select-box {
    padding: 9px 13px;
    border: 1px solid #8999A6;
}
.edit-select-section .select-title, .check-list li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}
.check-list li:not(:first-child) {
    padding: 9px 13px;
    border-top: 1px solid #8999A6;
}
.check-list li:first-child {
    padding: 9px 13px;
}
.check-list input {
    width: 17px;
    height: 17px;
    margin-right: 13px;
}
/* checkbox customize */
.main { 
    display: block; 
    position: relative; 
    padding-left: 30px; 
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 0px !important;
}
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
/* Creating a custom checkbox 
based on demand */ 
.geekmark { 
    position: absolute; 
    top: 2px; 
    left: 0; 
    height: 17px; 
    width: 17px; 
    background-color: #FFFFFF; 
} 
/* Specify the background color to be 
shown when checkbox is checked */ 
.main input:checked ~ .geekmark { 
    background: #55ACEE;
    border-radius: 2px;
} 
/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
/* Display checkmark when checked */ 
.main input:checked ~ .geekmark:after { 
    display: block; 
} 
/* Styling the checkmark using webkit */ 
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */ 
.main .geekmark:after { 
    left: 6px;
    bottom: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.btn-edit-send {
    color: #15202B;
    border: none;
    outline: none;
    width: 317px;
    height: 64px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 70px;
    transition: all 0.3s linear;
}
.edit-modal .btn-save {
    position: absolute;
    width: 82px;
    height: 25px;
    top: 20px;
    right: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: none;
    outline: none;
    color: #000000;
}
@media (max-width:1740px) {
    .photo-detail p {
        font-size: 20px;
    }
    .photo-detail p:last-child {
        font-size: 16px;
    }
}
@media (max-width:1437px) {
    .photo-detail p {
        font-size: 18px;
    }
    .photo-detail p:last-child {
        font-size: 15px;
    }
}
@media (max-width:768px) {
    .quotes-item-edit {
        width: 100%;
    }
    .name-position-edit {
        width: 100%;
    }
    .qoutes-edit {
        width: 100%;
    }
    .contact-edit {
        padding: 10px;
        left: 0px;
    }
    .talk-about-section .talk-about-edit {
        padding: 7px 14px;
    }
    .photo-img-section {
        max-width: 100%;
        width: 100%;
    }
    .photo-detail p {
        font-size: 43px;
    }
    .photo-detail p:last-child {
        font-size: 36px;
    }
    .photo-part {
        margin-bottom: 30px;
    }
}
@media (max-width:576px) {
    .talk-about-edit .email-num-set {
        margin-top: 10px;
        flex-direction: column;
        align-items: start;
    }
    .qoutes-edit  .email-num-set {
        flex-direction: column;
        align-items: flex-start;
    }
    .talk-about-edit .content .email-num-increase {
        margin-top: 10px;
    }
    .quotes-item-edit .main-block {
        padding: 12px 20px;
    }
    .mobile-view {
        display: block;
    }
    .desktop-view {
        display: none;
    }
    .register .modal-body {
        padding: 15px !important;
    }
    .first-section, .dashed-first-section {
        margin-left: 0px;
        border: none;
    }
    .talk-about-edit .title {
        margin-left: 5px;
        padding-top: 36px;
    }
    .talk-about-edit .title input {
        font-size: 23px;
    }
    .photo-section .photo-detail {
        padding: 6px 6px 6px 6px;
        border-radius: 0px 0px 17px 17px;
    }
    .profile-photo-title-bar {
        left: -161.71px;
    }
    .photo-detail p {
        font-size: 18px;
    }
    .photo-detail p:last-child {
        font-size: 15px;
    }
    .qoutes-section {
        padding-bottom: 100px;
    }
    .photo-section .add-photo .add-your-img {
        font-size: 22px;
    }
    .photo-section .add-photo {
        top: 80px;
        left: 12px;
    }
    .open-edit-menu>div, .open-close-menu>div,.open-edit-menu, .open-close-menu {
        width: 100% !important;
    }
    .profile-photo-title-bar p.title {
        font-size: 26px;
    }
    .profile-photo-title-bar .percent {
        font-size: 18px;
    }
    .profile-photo-title-bar .undeited {
        font-size: 18px;
    }
    .qoutes-section {
        padding-top: 50px;
    }
    .contact-edit {
        width: 100%;
        padding-top: 50px;
    }
}

/* this class is used to hide the file input */
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}