@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.photo-section, .talk-about-section, .qoutes-section {
    color: #FFFFFF;
}
.dashed-border {
    border: 2px dashed #343a40;
    padding: 10px;
    border-radius: 5px;
}
.dashed-border-bottom {
    border-bottom: 2px dashed #343a40;
}
.solid-border-bottom {
    border-bottom: 1px solid #343a40;
}
.m-left-8 {
    margin-left: 8px;
}
.first-section {
    margin-left: 7px;
    border-left: 1px solid #343a40;
    border-right: 1px solid #343a40;
}
.dashed-first-section {
    margin-left: 7px;
    border-left: 2px dashed #343a40;
    border-right: 2px dashed #343a40;
}
.photo-dashed-border {
    border: 2px dashed #343a40;
    border-radius: 30px;
    overflow: hidden;
}
.photo-section .photo-part {
    margin-bottom: 35px;
}
.photo-section>div {
    margin-top: 10px;
}
.photo-section .layout {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    opacity: 0.8;
}
.photo-section .photo-detail {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 18px 18px;
}
.photo-detail p {
    color: #15202B;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0px;
}
.photo-detail p:last-child {
    font-size: 24px;
    margin-bottom: 0px;
}
.custom-bg-color {
    background-color: #343535 !important;
    border-top: 2px dashed #4f5152;
    z-index: 500;
}
.photo-section .add-photo {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 100%;
}
.photo-section .add-photo .add-your-img {
    font-weight: bold;
    font-size: 26px;
    color: darkgray;
}
.photo-section .add-photo .img-size {
    color: darkgray;
}
.photo-section .title{
    font-size: 32px;
}
.photo-section .description {
    font-size: 16px;
}
.photo-section .similar-subject {
    font-size: 20px;
    cursor: pointer;
}
.talk-about-section>div>div {
    margin-top: 30px;
    margin-bottom: 32px;
}
.talk-about-section .title{
    font-size: 32px;
    font-family: Open Sans;
}
.talk-about-section .description {
    font-size: 20px;
    font-family: Open Sans;
}
.talk-about-section .talk-txt {
    margin-top: 25px;
}
.talk-about-section .talk-about-edit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #15202B;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
    border: 2px dashed #343a40;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}
.talk-about-section .layout {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    z-index: 900;
}
.talk-about-edit .title {
    margin-left: 30px;
}
.talk-about-edit .title input {
    font-size: 30px;
    border: none;
    background: transparent;
    outline: none;
    color: white;
}
.talk-about-edit .title>span:last-child {
    font-size: 12px;
    color: #FFFFFF;
}

.talk-about-edit .list-content{
    font-size: 23px;
    color: darkgray;
}
.btn-save-edit-mode {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    outline: 0 !important;
    width: 82px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #15202b;
}
.profile-info-section {
    color: #FFFFFF;
    padding-bottom: 100px;
    padding-top: 17px;
}
.profile-info-section .col-lg-4 {
    margin-top: 17px;
    margin-bottom: 17px;
}
.profile-info-section h1 {
    font-size: 32px;
    font-weight: 600;
}
.profile-info-section p {
    font-size: 20px;
}
.extra-style {
    padding: 0px !important;
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
}
.profile-info-section a {
    text-decoration: underline;
}
.qoutes-section {
    padding-top: 100px;
}
.qoutes-section .title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}
.qoutes-section .content {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
}
.qoutes-section .emphases {
    background-color: #CFF2EE;
    color: #15202b;
    padding: 3px;
}
.profile-photo-title-bar {
    position: fixed;
    width: 681.87px;
    height: 45px;
    left: -134.71px;
    top: 99.72px;
    background: #39444D;
    transform: rotate(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: #FFFFFF;
}
.profile-photo-title-bar p.title {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    font-family: Oswald;
    font-style: normal;
}
.profile-photo-title-bar .percent {
    font-size: 20px;
    font-weight: normal;
    font-family: Oswald;
}
.profile-photo-title-bar .undeited {
    color: #C95355;
    font-size: 20px;
    margin-left: 5px;
    font-family: Oswald;
}
/* open-edit-menu-bar */
.open-edit-menu, .open-close-menu {
    position: fixed;
    right: 0px;
    z-index: 100;
    bottom: 0px;
    background-color: #15202b;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s linear;
}
.open-edit-menu .open-menu {
    width: 351px;
    height: 47px;
    background: #39444D;
}
.btn-open-edit-mode {
    border: none;
    width: 144px;
    height: 25px;
    font-size: 15px;
    background: #55ACEE;
    border-radius: 4px;
    color: #FFFFFF;
    outline: 0 !important;
}
.open-edit-menu .share {
    color: darkgray;
}
.open-edit-menu .menu-icon {
    cursor: pointer;
}
.open-edit-menu .expanded-menu {
    transition: all 0.4s ease-in-out;
}
.open-edit-menu .expanded-menu>div {
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.open-edit-menu .expanded-menu>div:hover {
    background-color: #39444D;
}
.open-close-menu .color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-close-menu .color-picker>div {
    transition: all 0.3s linear;
}
/* open-close-menu-bar */
.open-close-menu .open-menu {
    width: 290px;
    height: 47px;
    background: #39444D;
}
.btn-close-edit-mode {
    border: none;
    width: 144px;
    height: 25px;
    font-size: 15px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #15202B;
    outline: 0 !important;
}
.open-close-menu .expanded-menu>div {
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.open-close-menu .expanded-menu .arrow {
    transition: all 0.3s ease-in-out;
}
.open-close-menu .expanded-menu>div:first-child {
    border-bottom: 1px solid #000000;
}
.open-close-menu .theme {
    cursor: pointer;
}
.open-close-menu .select-box {
    width: 118px;
    height: 26px;
    padding: 5px;
}

.open-close-menu .select-list {
    position: absolute;
    background-color: #15202B;
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.open-close-menu .select-list li{
    padding: 3px 5px;
    transition: all 0.3s linear;
}
.open-close-menu .select-list li:hover {
    color: #84b9e2;
}
.open-close-menu #colorPicker {
    background: none;
    padding: 0px;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
/* modal */
.register .modal-dialog {
    max-width: 839px;
    top: 27px;
}
.register .modal-content {
    background: #15202B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px !important;
}
.register .modal-content .txt {
    margin-top: 30px;
}
.register .modal-body {
    background-color: #15202B;
    padding: 60px !important;
    color: #FFFFFF;
    border-radius: 4px !important;
}
.register .modal-body .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.register .modal-body .content {
    font-size: 27px;
}
.register .modal-body .content p {
    font-weight: 600;
    font-family: Open Sans;
    line-height: 1.7
}
.register .modal-body .profile-detail {
    color: #39444D;
    text-decoration: underline;
}
.register .modal-body .discuss-content {
    color: #55ACEE;
}
.register .modal-body .send-btn-part {
    margin-top: 67px;
}
.register .modal-body .btn-send {
    background: #FFFFFF;
    border-radius: 70px;
    color: #15202B;
    font-size: 27px;
    border: none;
    outline: none;
    width: 261px;
    height: 53px;
    transition: all 0.3s linear;
}
.register .modal-body .btn-send:hover {
    background-color:#55ACEE;
    color: #FFFFFF;
}
.modal-backdrop.show {
    opacity: 0.3 !important;
}
.modal-backdrop {
    background-color: #FFF !important;
}
.cursor-pointer {
    cursor: pointer;
}

@media (max-width:1740px) {
    .photo-detail p {
        font-size: 26px;
    }
    .photo-detail p:last-child {
        font-size: 22px;
    }
}
@media (max-width:1620px) {
    .photo-detail p {
        font-size: 22px;
    }
    .photo-detail p:last-child {
        font-size: 19px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1620px) {
    /* For portrait layouts only */
  }
@media (max-width:1437px) {
    .photo-detail p {
        font-size: 20px;
    }
    .photo-detail p:last-child {
        font-size: 17px;
    }
}
@media (max-width:768px) {
    .photo-detail p {
        font-size: 43px;
    }
    .photo-detail p:last-child {
        font-size: 36px;
    }
}
@media (max-width:576px) {
    .register .modal-body {
        padding: 15px !important;
    }
    .first-section, .dashed-first-section {
        margin-left: 0px;
        border: none;
    }
    .talk-about-edit .title {
        margin-left: 5px;
        padding-top: 36px;
    }
    .talk-about-edit .title input {
        font-size: 23px;
    }
    .photo-section .photo-detail {
        padding: 6px 6px 6px 6px;
        border-radius: 0px 0px 17px 17px;
    }
    .profile-photo-title-bar {
        left: -161.71px;
    }
    .photo-detail p {
        font-size: 18px;
    }
    .photo-detail p:last-child {
        font-size: 15px;
    }
    .qoutes-section {
        padding-bottom: 100px;
    }
    .photo-section .add-photo .add-your-img {
        font-size: 22px;
    }
    .photo-section .add-photo {
        top: 80px;
        left: 12px;
    }
    .open-edit-menu>div, .open-close-menu>div,.open-edit-menu, .open-close-menu {
        width: 100% !important;
    }
    .profile-photo-title-bar p.title {
        font-size: 26px;
    }
    .profile-photo-title-bar .percent {
        font-size: 18px;
    }
    .profile-photo-title-bar .undeited {
        font-size: 18px;
    }
}